<!DOCTYPE html>
<html>
<head>
  <title>HackersAndHounds</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="pure-menu pure-menu-open pure-menu-horizontal pure-u">
    <ul>
    	<li><a href="/welcome/index">Home</a></li>
      <li><a href="/static_pages/about">About</a></li>
      <li><a href="/static_pages/contact">Contact</a></li>
    </ul>
	</div>

<%= yield %>

</body>
</html>
